indent=4
line-length=120
whitespace=4
whitespace-comma=true
whitespace-relational=true
whitespace-assignment=true
whitespace-logical=true
whitespace-intrinsics=true
strict-indent=true
enable-decl=true
enable-replacements=true
c-relations=true
case=[1,1,1,1]
