build/
dependencies/
.linter_mods/

*.o
*.x
*.a
*.mod
.*.swp
*_cpp.f90
*.log

tests/*.sh
tests/data/*.out
tests/data/*.diff
tests/data/*.oncvpsp.*
tests/data/TEST.report

# set_path modifies these in-place
scripts/*.sh
